<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="Signet.CM.Service" type="Signet.Core.Configuration.CMConfigEntriesSection, Signet.Core"/>
  </configSections>

  <Signet.CM.Service>
    <CMConfigEntries>
      <CMConfigEntry environment="Live" username="signetWS" password="s!gn3tWe65erv1c3s"
                     rootUrl = "https://cm02.signet.tv/ContentManager"
                     channelEndpoint="https://cm02.signet.tv/ContentManager/api/v1.2/channel"
                     mediaEndpoint="https://cm02.signet.tv/ContentManager/api/v1.2/media"
                     playerEndpoint="https://cm02.signet.tv/ContentManager/api/v1.2/player"
                     playlistEndpoint="https://cm02.signet.tv/ContentManager/api/v1.2/playlist"/>

      <CMConfigEntry environment="Dev" username="scalaweb" password="Sc@l@WEB"
                     rootUrl = "http://rebaca.signet.tv:8080/ContentManager"
                     channelEndpoint="http://rebaca.signet.tv:8080/ContentManager/api/v1.2/channel"
                     mediaEndpoint="http://rebaca.signet.tv:8080/ContentManager/api/v1.2/media"
                     playerEndpoint="http://rebaca.signet.tv:8080/ContentManager/api/v1.2/player"
                     playlistEndpoint="http://rebaca.signet.tv:8080/ContentManager/api/v1.2/playlist"/>
    </CMConfigEntries>
  </Signet.CM.Service>

  <unity configSource="Unity.config"/>

  <appSettings>
    <add key="DependencyResolverTypeName" value="Signet.Core.Unity.UnityDependencyResolver, Signet.Core"/>
    <add key="log4net.config" value="log4net.config"/>
    <!-- Possible values : Dev, SystemTest, IntegrationTest, Live, Prod -->
    <add key="CMActiveConfig" value="Dev"/>
    <add key="PlayerUniqueID" value="5e65d2cd-b65f-47d4-8e49-004d5d6f5887"/>
    <add key="VDirName" value="SignetWeb"/>
    <add key="OpenPlayerInScaleFitMode" value="false"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
</configuration>