<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IStartupTask" type="Signet.Core.Task.IStartupTask, Signet.Core"/>
  <alias alias="CreateVDir" type="Signet.CM.Tasks.CreateVirtualDirectory, Signet.CM.Tasks"/>
  <alias alias="IChannelServiceRepository" type="Signet.Core.ServiceRepository.IChannelServiceRepository, Signet.Core"/>
  <alias alias="IMediaServiceRepository" type="Signet.Core.ServiceRepository.IMediaServiceRepository, Signet.Core"/>
  <alias alias="IPlayerServiceRepository" type="Signet.Core.ServiceRepository.IPlayerServiceRepository, Signet.Core"/>
  <alias alias="IPlaylistServiceRepository" type="Signet.Core.ServiceRepository.IPlaylistServiceRepository, Signet.Core"/>
  <alias alias="ChannelServiceRepository" type="Signet.CM.ServiceRepository.ChanneServiceRepositoryImpl, Signet.CM.ServiceRepository"/>
  <alias alias="MediaServiceRepository" type="Signet.CM.ServiceRepository.MediaServiceRepositoryImpl, Signet.CM.ServiceRepository"/>
  <alias alias="PlayerServiceRepository" type="Signet.CM.ServiceRepository.PlayerServiceRepositoryImpl, Signet.CM.ServiceRepository"/>
  <alias alias="PlaylistServiceRepository" type="Signet.CM.ServiceRepository.PlaylistServiceRepositoryImpl, Signet.CM.ServiceRepository"/>
  <alias alias="IEntityTranslator" type="Signet.Core.Translators.IEntityTranslator, Signet.Core"/>
  <alias alias="ChannelTranslator" type="Signet.CM.EntityTranslator.ChannelTranslator, Signet.CM.EntityTranslator"/>
  <alias alias="FramesetTranslator" type="Signet.CM.EntityTranslator.FramesetTranslator, Signet.CM.EntityTranslator"/>
  <alias alias="FrameTranslator" type="Signet.CM.EntityTranslator.FrameTranslator, Signet.CM.EntityTranslator"/>
  <alias alias="MediaTranslator" type="Signet.CM.EntityTranslator.MediaTranslator, Signet.CM.EntityTranslator"/>
  <alias alias="PlayerDisplayTranslator" type="Signet.CM.EntityTranslator.PlayerDisplayTranslator, Signet.CM.EntityTranslator"/>
  <alias alias="PlayerTranslator" type="Signet.CM.EntityTranslator.PlayerTranslator, Signet.CM.EntityTranslator"/>
  <alias alias="PlaylistItemTranslator" type="Signet.CM.EntityTranslator.PlaylistItemTranslator, Signet.CM.EntityTranslator"/>
  <alias alias="PlaylistTranslator" type="Signet.CM.EntityTranslator.PlaylistTranslator, Signet.CM.EntityTranslator"/>
  <alias alias="TimeScheduleTranslator" type="Signet.CM.EntityTranslator.TimeScheduleTranslator, Signet.CM.EntityTranslator"/>
  <alias alias="TimeslotTranslator" type="Signet.CM.EntityTranslator.TimeslotTranslator, Signet.CM.EntityTranslator"/>
  <container>
    <register type="IStartupTask" mapTo="CreateVDir" name="CreateVirtualDirectory">
      <lifetime type="transient"/>
    </register>
    <register type="IChannelServiceRepository" mapTo="ChannelServiceRepository">
      <lifetime type="singleton"/>
    </register>
    <register type="IMediaServiceRepository" mapTo="MediaServiceRepository">
      <lifetime type="singleton"/>
    </register>
    <register type="IPlayerServiceRepository" mapTo="PlayerServiceRepository">
      <lifetime type="singleton"/>
    </register>
    <register type="IPlaylistServiceRepository" mapTo="PlaylistServiceRepository">
      <lifetime type="singleton"/>
    </register>
    <register type="IEntityTranslator" mapTo="ChannelTranslator" name="Channel">
      <lifetime type="transient"/>
    </register>
    <register type="IEntityTranslator" mapTo="FramesetTranslator" name="Frameset">
      <lifetime type="transient"/>
    </register>
    <register type="IEntityTranslator" mapTo="FrameTranslator" name="Frame">
      <lifetime type="transient"/>
    </register>
    <register type="IEntityTranslator" mapTo="MediaTranslator" name="Media">
      <lifetime type="transient"/>
    </register>
    <register type="IEntityTranslator" mapTo="PlayerDisplayTranslator" name="PlayerDisplay">
      <lifetime type="transient"/>
    </register>
    <register type="IEntityTranslator" mapTo="PlayerTranslator" name="Player">
      <lifetime type="transient"/>
    </register>
    <register type="IEntityTranslator" mapTo="PlaylistItemTranslator" name="PlaylistItem">
      <lifetime type="transient"/>
    </register>
    <register type="IEntityTranslator" mapTo="PlaylistTranslator" name="Playlist">
      <lifetime type="transient"/>
    </register>
    <register type="IEntityTranslator" mapTo="TimeScheduleTranslator" name="TimeSchedule">
      <lifetime type="transient"/>
    </register>
    <register type="IEntityTranslator" mapTo="TimeslotTranslator" name="Timeslot">
      <lifetime type="transient"/>
    </register>
  </container>
</unity>